<header class="header-2">
  <div
    class="page-header min-vh-75 relative"
    style="background-image: url('./assets/img/kww/IMG_0219.PNG')"
  >
    <span class="mask bg-gradient-primary opacity-4"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">Kampung Wisata Jodipan</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
  <section class="my-5 py-5">
    <div class="container">
      <div class="row">
        <div class="row justify-content-center text-center">
          <p class="lead">
            Kampung Wisata Jodipan, yang terletak di tepi Sungai Brantas, 
            menjadi destinasi wisata pertama di Kota Malang yang terkenal 
            dengan barisan rumah-rumah warga yang dihiasi dengan warna-warni 
            yang menarik, mempercantik pemandangan dinding-dindingnya agar 
            tidak terkesan monoton. Kawasan ini terletak di Jodipan, yang 
            juga berada di sepanjang tepian Sungai Brantas. Oleh karena 
            keunikan ini, Kampung Wisata Jodipan seringkali dikenal sebagai 
            Kampung Warna Warni.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-3 pb-4">
    <div class="container">
      <div class="row">
        <div class="row justify-content-center text-center">
          <iframe width="1000" height="500" src="https://www.youtube.com/embed/Wm0F06ln8uY?si=0">
          </iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-3 pb-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
          <div class="rotating-card-container">
            <div
              class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-5"
            >
              <div
                class="front front-background"
                style="
                  background-image: url(https://images.unsplash.com/photo-1569683795645-b62e50fbf103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);
                  background-size: cover;
                "
              >
                <div class="card-body py-7 text-center">
                  <i class="material-icons text-white text-4xl my-3"
                    >touch_app</i
                  >
                  <h3 class="text-white">
                    Fasilitas
                  </h3>
                  <p class="text-white opacity-8">
                    Anda akan mendapatkan kejutan yang akan mengejutkan anda silahkan di coba.
                  </p>
                </div>
              </div>
              <div
                class="back back-background"
                style="
                  background-image: url(https://images.unsplash.com/photo-1498889444388-e67ea62c464b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1365&q=80);
                  background-size: cover;
                "
              >
                <div class="card-body pt-7 text-center">
                  <h3 class="text-white">Terimakasih telah klick saya</h3>
                  <p class="text-white opacity-8">
                    Selamat datang di website kami fungsi ini dapat di hapus dan bisa dimainkan.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 ms-auto">
          <div class="row justify-content-start">
            <div class="col-md-6">
              <div class="info">
                <i class="material-icons text-gradient text-primary text-3xl"
                  >wc</i
                >
                <h5 class="font-weight-bolder mt-3">Toilet</h5>
                <p class="pe-5">
                  Tuliskan cuplikan hal yang menarik disini.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info">
                <i class="material-icons text-gradient text-primary text-3xl"
                  >mosque</i
                >
                <h5 class="font-weight-bolder mt-3">Mushola</h5>
                <p class="pe-3">
                  Tuliskan cuplikan fungsional disini.
                </p>
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-5">
            <div class="col-md-6 mt-3">
              <i class="material-icons text-gradient text-primary text-3xl"
                >directions_car</i
              >
              <h5 class="font-weight-bolder mt-3">Area Parkir</h5>
              <p class="pe-5">
                Tulis Jawaban konten kamu disini
              </p>
            </div>
            <div class="col-md-6 mt-3">
              <div class="info">
                <i class="material-icons text-gradient text-primary text-3xl"
                  >restaurant</i
                >
                <h5 class="font-weight-bolder mt-3">Toko Makanan</h5>
                <p class="pe-3">
                  deskripsikan konten mu disini yang bersifat ajakan.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="pt-3 pb-4">
    <div class="container">
      <div class="row">
        <div class="row justify-content-center text-center my-sm-5">
          <div class="col-lg-6">
            <h2 class="text-dark mb-0">Jam Operasional</h2>
            <p class="lead">
              07.00 - 18.00 WIB
            </p>
          </div>
        </div>
      </div>
    </div><br>
    
    <div class="row justify-content-center text-center">
      <h2 class="text-dark mb-0">Tiket Masuk</h2>
      <div class="col-md-3">
        <h1 class="text-gradient text-info">Rp. 5000</h1>
        <h5>Pengunjung Lokal</h5>
      </div>
      <div class="col-md-3">
        <h1 class="text-gradient text-info"><span>Rp. 10000</h1>
        <h5>Turis Asing</h5>
      </div>
    </div>
  </section>

  <section class="pt-3 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 mx-auto py-3">
          <div class="row justify-content-center text-center">
            <h2 class="text-dark mb-0">Parkir Kendaraan</h2>
            <div class="col-md-4 position-relative">
              <div class="p-3 text-center">
                <h5 class="mt-3">Rp. 2000</h5>
                <p class="text-sm font-weight-normal">
                  Motor
                </p>
              </div>
              <hr class="vertical dark" />
            </div>
            <div class="col-md-4 position-relative">
              <div class="p-3 text-center">
                <h5 class="mt-3">Rp. 5000</h5>
                <p class="text-sm font-weight-normal">
                  Mobil
                </p>
              </div>
              <hr class="vertical dark" />
            </div>
            <div class="col-md-4">
              <div class="p-3 text-center">
                <h5 class="mt-3">Rp. 25000</h5>
                <p class="text-sm font-weight-normal">
                  Bus
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-7">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="row justify-content-start">
            <div class="col-md-6">
              <div class="info">
                <i class="material-icons text-3xl text-gradient text-info mb-3">map</i>
                <h5>Rute yang Mudah Diakses</h5>
                <p>We get insulted by others, lose trust for those We get back freezes</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info">
                <i class="material-icons text-3xl text-gradient text-info mb-3">add_road</i>
                <h5>Jalan yang Beraspal</h5>
                <p>We get insulted by others, lose trust for those We get back freezes</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-4">
            <div class="col-md-6">
              <div class="info">
                <i class="material-icons text-3xl text-gradient text-info mb-3">directions_car</i>
                <h5>Bisa Diakses dengan Mobil</h5>
                <p>We get insulted by others, lose trust for those We get back freezes</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info">
                <i class="material-icons text-3xl text-gradient text-info mb-3">motorcycle</i>
                <h5>Bisa Diakses dengan Sepeda Motor</h5>
                <p>We get insulted by others, lose trust for those We get back freezes</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 ms-auto mt-lg-0 mt-4">
          <div class="card">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <a class="d-block blur-shadow-image">
                <img src="./assets/img/kww/IMG_0238.JPG" alt="img-colored-shadow" class="img-fluid border-radius-lg">
              </a>
            </div>
            <div class="card-body text-center">
              <h5 class="font-weight-normal">
                <a href="javascript:;">Aksesibilitas ke Objek Wisata</a>
              </h5>
              <p class="mb-0">
                Website visitors today demand a frictionless user expericence — especially when using search. Because of the hight standards.
              </p>
              <button type="button" class="btn bg-gradient-info btn-sm mb-0 mt-3">Find out more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-sm-7" id="download-soft-ui">
    <div
      class="bg-gradient-dark position-relative m-3 border-radius-xl overflow-hidden"
    >
      <img
        src="./assets/img/shapes/waves-white.svg"
        alt="pattern-lines"
        class="position-absolute start-0 top-md-0 w-100 opacity-2"
      />
      <div class="container py-7 postion-relative z-index-2 position-relative">
        <div class="row">
          <div class="col-md-7 mx-auto text-center">
            <h3 class="text-white mb-0">Fitur penutupan</h3>
            <h3 class="text-white">Kata2 Penutupan</h3>
            <p class="text-white mb-5">
              Deskripsi kata-kata penutup disini
            </p>
            <a
              href="/"
              class="btn btn-primary btn-lg mb-3 mb-sm-0"
              >Kunjungi page apapun</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- -------   END PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->
</div>
